// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/qcom,x1e80100-camcc.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

&{/} {
	vreg_cam1_1p8: regulator-cam1 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_cam1";
		startup-delay-us = <1000>;
		enable-active-high;
		gpio = <&tlmm 19 GPIO_ACTIVE_HIGH>;
	};
};

&camss {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			csiphy1_ep: endpoint@1 {
				#address-cells = <1>;
				#size-cells = <0>;

				reg = <1>;
				clock-lanes = <7>;
				data-lanes = <0 1 2 3>;
				remote-endpoint = <&imx577_ep1>;
			};
		};
	};
};

&cci0 {
	status = "okay";
};

&cci0_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	camera@1a {
		compatible = "sony,imx577";
		reg = <0x1a>;

		reset-gpios = <&tlmm 110 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&cam1_default>;
		pinctrl-names = "default";

		clocks = <&camcc CAM_CC_MCLK1_CLK>;
		assigned-clocks = <&camcc CAM_CC_MCLK1_CLK>;
		assigned-clock-rates = <24000000>;

		dvdd-supply = <&vreg_cam1_1p8>;
		dovdd-supply = <&vreg_l4m_1p8>;

		port {
			imx577_ep1: endpoint {
				link-frequencies = /bits/ 64 <600000000>;
				data-lanes = <0 1 2 3>;
				remote-endpoint = <&csiphy1_ep>;
			};
		};
	};
};

&csiphy1 {
	vdda-0p8-supply = <&vreg_l2c_0p8>;
	vdda-1p2-supply = <&vreg_l1c_1p2>;

	status = "okay";
};

&tlmm {
	cam1_default: cam1-default-state {
		mclk-pins {
			pins = "gpio97";
			function = "cam_mclk";
			drive-strength = <2>;
			bias-disable;
		};

		rst-pins {
			pins = "gpio110";
			function = "gpio";
			drive-strength = <2>;
			bias-disable;
		};
	};
};
